html, body{

    font-family:"Baskerville"; font-weight: lighter;
    font-color:#222;
}

#title{
    padding:20px;
    font-size:18px;
}
#map{
    position:relative;
    float:top;
}
#menu{
    padding:20px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}